hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-size: 16px;
    font-weight: 400;
}

.lista__rodape {
    display: none;
}

@media  screen and (min-width: 1024px)  {
    .rodape {
        display: flex;
        padding: 4em 0; 
        justify-content: space-around;   
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista__rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 2.5em;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__link {
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: var(--preto);
        margin-left: 0.4em;
    }
}

@media  screen and (min-width: 1328px) {
    .lista__rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }
}